<div class="u-clearfix">
    <div class="teasers-aboutus">
    <div class="teasers-item-aboutus">

        <div class="teasers-item-aboutus__bg"
              style="background: url('img-uploads/bg_banner.jpg') repeat 0 0;
              background-size: cover;
              background-position: center;">
        </div>

        <div class="banner-wrapper banner-wrapper-aboutus">
            <div class="banner">
                <div class="banner__title">
                    <span>What</span>
                </div>
                <div class="banner__text">
                    <span>WE DO</span>
                </div>
                <div class="howwork__btn">
                    <a href="#" class="btn btn--white">LEARN MORE</a>
                </div>
            </div>
        </div>

    </div>
    </div>
</div>