<div class="u-clearfix">
    <div class="teasers">
    <div class="teasers-item">
        <div class="banner-wrapper">
            <div class="banner">
                <div class="banner__title">
                    <span>Creative Team</span>
                </div>
                <div class="banner__text">
                    <span>WELCOME</span><span>TO HYPERION</span>
                </div>
            </div>
            <div class="u-text--center">
                <div class="divider-white"></div>
            </div>
            <div>
                <a href="#" class="btn btn--white">LEARN MORE</a>
            </div>

        </div>

            <div class="submenu">
                <ul>
                    <li><a href="#"><span>01</span>INTRO</a></li>
                    <li><a href="#"><span>02</span>ABOUT</a></li>
                    <li><a href="#"><span>03</span>SERVICES</a></li>
                    <li><a href="#"><span>04</span>CONTACTS</a></li>
                </ul>
            </div>
    </div>
    </div>
</div>