<div class="whoweare-inner">
	<div class="item-margintop u-text--center">
		<h2>Who</h2>
		<div class="item-header">we are</div>
		<div class="u-text--center">
			<div class="divider-red"></div>
		</div>
		<div class="item-shorttext">
			<p>Ciklum is a global software engineering and technology partner. We deliver software engineering
				excellence to Fortune 500 and fast-growing organizations alike around the world.
			</p>

			<p>	Since 2002, over 3,000+ developers located in the delivery centres across the globe
				provide our clients with a range of services including extended software development teams,
				outsourcing software development, Quality Assurance, R&D, IoT, Big Data, and engineering consulting.
			</p>
		</div>
	</div>
</div>


