<div class="contacts-wrapper">
	<div class="row">
		<div class="u-clearfix">
			<div class="item-margintop u-text--center">
				<h2>Do You</h2>
				<div class="item-header">WANT TO JOIN US?</div>

				<div class="divider-red"></div>

				<div>
					<a href="#contacts-popup" class="btn popup-with-zoom-anim">contact us</a>
					<div id="contacts-popup" class="zoom-anim-dialog mfp-hide">
						<h3>Contact Info</h3>
						<p>Hyperion.</p>
						<p>16 Korolenko Street,</p>
						<p>	Ukraine, Kharkiv</p>
						<p>+3 8057 111111</p>
						<p>info@hyperion.com</p>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="openmap">
		<div class="openmap_content u-text--center">
			<div class="openmap_content__icon">
				<span class="icon-pin"></span>
			</div>
			<div class="openmap_content__title">
				<span>OPEN MAP</span>
			</div>
			<div class="divider-red"></div>
			<div class="openmap_content__googlemap js-showMap">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2565.114102076092!2d36.2366334!3d49.9904702!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a0f220312edf%3A0xe05cea451b0cb2ec!2sKorolenka+St%2C+16%2C+Kharkiv%2C+Kharkiv+Oblast!5e0!3m2!1sen!2sua!4v1508486236949" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>


