<div class="row">
	<div class="card-inner card-inner--slider u-clearfix js-topListSlider">
		<?php for( $i=0; $i<8; $i++): ?>
		<div class="card-wrapper">
			<div class="card-item u-clearfix">
				<div class="card-item__img">
					<img src = "img-uploads/testImg.jpg" alt = "">
				</div>
				<div class="card-content">
					<div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
						sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</div>
					<div class="wrapper-card-author">
						<div class="card-author">Name Name</div>
					</div>
				</div>
				<!--<div class="card-action">-->
					<!--<a rel="nofollow" href="#" target="_blank">Get bonus</a>-->
				<!--</div>-->
			</div>
		</div>
		<?php endfor; ?>
	</div>
</div>





<div class="peoplesay-wrapper">
	<div class="peoplesay-bg">
	<div class="peoplesay-bg__img">
	<div class="row">
	<div class="peoplesay-inner u-clearfix">
		<div class="item-margintop u-text--center">
			<h2>Happy Clients</h2>
			<div class="item-header">What people say</div>
			<div class="u-text--center">
				<div class="divider-red"></div>
			</div>
		</div>
	</div>


	<div class = "peoplesay-inner u-clearfix u-text--center">
		<div class="peoplesay-inner_part u-clearfix">

			<div class = "peoplesay-item">
				<div class = "peoplesay">
					<div class="peoplesay-item__img">
						<!--<img src = "img-uploads/book-icon.png" alt = "back end">-->
					</div>
					<div class = "peoplesay-item-content">
						<div class = "peoplesay-item-content__name">
							STAV STAV
						</div>
						<div class = "peoplesay-item-content__post">
							CEO
						</div>
						<div class="divider-red"></div>
						<div class = "peoplesay-item-content__text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
						</div>
					</div>
				</div>
			</div>
			<div class = "peoplesay-item">
				<div class = "peoplesay">
					<div class="peoplesay-item__img">
						<img src = "img-uploads/testImg.jpg" alt = "back end">
					</div>
					<div class = "peoplesay-item-content">
						<div class = "peoplesay-item-content__name">
							NAME NAME
						</div>
						<div class = "peoplesay-item-content__post">
							Lorem ipsum
						</div>
						<div class="divider-red"></div>
						<div class = "peoplesay-item-content__text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.

						</div>
					</div>
				</div>
			</div>

			<div class="u-clearfix"></div>

			<div class = "peoplesay-item">
				<div class = "peoplesay">
					<div class="peoplesay-item__img">
						<img src = "img-uploads/testImg.jpg" alt = "back end">
					</div>
					<div class = "peoplesay-item-content">
						<div class = "peoplesay-item-content__name">
							NAME NAME
						</div>
						<div class = "peoplesay-item-content__post">
							Lorem ipsum
						</div>
						<div class="divider-red"></div>
						<div class = "peoplesay-item-content__text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
						</div>
					</div>
				</div>
			</div>

			<div class = "peoplesay-item">
				<div class = "peoplesay">
					<div class="peoplesay-item__img">
						<!--<img src = "img-uploads/book-icon.png" alt = "back end">-->
					</div>
					<div class = "peoplesay-item-content">
						<div class = "peoplesay-item-content__name">
							NAME NAME
						</div>
						<div class = "peoplesay-item-content__post">
							PM
						</div>
						<div class="divider-red"></div>
						<div class = "peoplesay-item-content__text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	</div>
	</div>
	</div>
</div>

