<div class="service row">
	<div class="service-inner u-clearfix">
		<div class="item-margintop u-text--center">
			<h2>Service</h2>
			<div class="item-header">What we do</div>
			<div class="u-text--center">
				<div class="divider-red"></div>
			</div>
			<div class="item-shorttext">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
				sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
				veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</div>
		</div>
	</div>


	<div class = "u-clearfix">
		<div class="accordion-container">
			<div class="service-item__col accordion__img" id="js-data-img_1" style="background-image: url('img-uploads/img_accord.jpg');">
				<!--<img src = "img-uploads/img_accord.jpg" alt = "service description image">-->
			</div>
			<div class="service-item__col accordion__img" id="js-data-img_2" style="background-image: url('img-uploads/work2.jpg'); display: none;">
				<!--<img src = "img-uploads/img_accord.jpg" alt = "service description image">-->
			</div>
			<div class="service-item__col accordion__img" id="js-data-img_3" style="background-image: url('img-uploads/work3.jpg'); display: none">
				<!--<img src = "img-uploads/img_accord.jpg" alt = "service description image">-->
			</div>
			<div class="service-item__col">
			<ul class="accordion">
				<li>
					<a class="toggle active" href="#" data-img="1">
						<span class="accordion-icon icon-picture"></span><span class = "toggle-text">DESIGN</span>
						<span class = "toggle-icon"></span>

					</a>
					<div class="inner show" style="display: block;">
						<div class = "u-clearfix">
							<div class = "inner-text">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
								nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
								. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
								eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
								sunt in culpa qui officia deserunt mollit anim id est laborum.
								Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
								eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
								sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
							<!--<img src = "img-uploads/game1.jpg" alt = "game description image">-->
						</div>
					</div>
				</li>

				<li>
					<a class="toggle" href="#" data-img="2">
						<span class = "toggle-icon"></span>
						<span class="accordion-icon icon-equalizer"></span><span class = "toggle-text">CREATIVITY</span>
					</a>
					<div class="inner">
						<div class = "u-clearfix">
							<div class = "inner-text">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
								nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
								. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
								eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
								sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
							<!--<img src = "img-uploads/game1.jpg" alt = "game description image">-->
						</div>
					</div>
				</li>

				<li>
					<a class="toggle" href="#" data-img="3">
						<span class = "toggle-icon"></span>
						<span class="accordion-icon icon-bullseye"></span><span class = "toggle-text">DEVELOPMENT</span>
					</a>
					<div class="inner">
						<div class = "u-clearfix">
							<div class = "inner-text">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
								nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
								. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
								eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
								sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
							<!--<img src = "img-uploads/game1.jpg" alt = "game description image">-->
						</div>
					</div>
				</li>
			</ul>
			</div>
		</div>
	</div>

</div>
