<div class="ourwork u-clearfix">
<div class="row">
	<div class="ourwork-inner">
		<div class="item-margintop u-text--center">
			<h2>What we do</h2>
			<div class="item-header">some of our work</div>
			<div class="u-text--center">
				<div class="divider-red"></div>
			</div>
			<div class="item-shorttext">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
				sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
				veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</div>
		</div>
	</div>
</div>

	<div class="homegalery">
		<div class="homegalery-inner">
			<div class="u-text--center u-clearfix">
				<?php for($i=0; $i<8; $i++): ?>
					<div class="homegalery-item">
						<div class="homegalery-item-inner">
							<div class="homegalery-item-img">
								<img src="img-uploads/work1.jpg" alt="">
							</div>
							<div class="homegalery-item-title">
								<h3>
									<a href="img-uploads/work1.jpg"  class="image-popup">
										<span class="homegalery-item-title__icon icon-picture"></span>
										<span class="homegalery-item-title__name">NAME NAME</span>
										<span class="homegalery-item-title__descrip">Lorem ipsum seet dollae</span>
									</a>
								</h3>
							</div>
						</div>
					</div>
				<?php endfor; ?>
			</div>
		</div>
	</div>
</div>
