<div class="row">
<div class="story-inner u-clearfix">
	<div class="u-text--center">
		<h2>What we do</h2>
		<div class="item-header">STORY ABOUT US</div>
		<div class="u-text--center">
			<div class="divider-red"></div>
		</div>
		<div class="story-inner__text item-shorttext">A dedicated development center at Iflexion is a contractual engagement model built around team
			productivity optimization in exclusive, long-term outsourcing relationships.
		</div>
	</div>
</div>
<!--</div>-->


<!--<div class="row">-->
<div class = "workwidth-inner item-margintop u-clearfix u-text--center">
		<h2>We work with</h2>
		<div class="item-header">Amazing Services</div>
		<div class="u-text--center">
			<div class="divider-red"></div>
		</div>

	<div class="workwidth-inner_part u-clearfix">
		<div class = "workwidth-item">
			<div class = "workwidth">
				<div class="workwidth-item__img">
					<img src = "img-uploads/book-icon.png" alt = "back end">
				</div>
				<div class = "workwidth-item-content">
					<div class = "workwidth-item-content__header">
						BACK-END
					</div>
					<div class = "workwidth-item-content__text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
					</div>
				</div>
			</div>
		</div>
		<div class = "workwidth-item">
			<div class = "workwidth">
				<div class="workwidth-item__img">
					<img src = "img-uploads/book-icon.png" alt = "back end">
				</div>
				<div class = "workwidth-item-content">
					<div class = "workwidth-item-content__header">
						BACK-END
					</div>
					<div class = "workwidth-item-content__text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
					</div>
				</div>
			</div>
		</div>
		<div class = "workwidth-item">
			<div class = "workwidth">
				<div class="workwidth-item__img">
					<img src = "img-uploads/book-icon.png" alt = "back end">
				</div>
				<div class = "workwidth-item-content">
					<div class = "workwidth-item-content__header">
						BACK-END
					</div>
					<div class = "workwidth-item-content__text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="workwidth-inner_part u-clearfix">
		<div class = "workwidth-item">
			<div class = "workwidth">
				<div class="workwidth-item__img">
					<img src = "img-uploads/book-icon.png" alt = "back end">
				</div>
				<div class = "workwidth-item-content">
					<div class = "workwidth-item-content__header">
						BACK-END
					</div>
					<div class = "workwidth-item-content__text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
					</div>
				</div>
			</div>
		</div>
		<div class = "workwidth-item">
			<div class = "workwidth">
				<div class="workwidth-item__img">
					<img src = "img-uploads/book-icon.png" alt = "back end">
				</div>
				<div class = "workwidth-item-content">
					<div class = "workwidth-item-content__header">
						BACK-END
					</div>
					<div class = "workwidth-item-content__text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
					</div>
				</div>
			</div>
		</div>
		<div class = "workwidth-item">
			<div class = "workwidth">
				<div class="workwidth-item__img">
					<img src = "img-uploads/book-icon.png" alt = "back end">
				</div>
				<div class = "workwidth-item-content">
					<div class = "workwidth-item-content__header">
						BACK-END
					</div>
					<div class = "workwidth-item-content__text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>