<div class="highlightedBlock">
	<div class="row">
		<div class="facts-inner u-clearfix">
			<div class="u-text--center">
				<div class = "facts-inner-item">
					<span>42</span>Projects FINISHED
				</div>
				<div class = "facts-inner-item">
					<span>123</span>happy client
				</div>
				<div class = "facts-inner-item">
					<span>15</span>YEARS OF EXPERIENCE
				</div>
				<div class = "facts-inner-item">
					<span>99</span>cup of coffee
				</div>
				<div class = "facts-inner-item">
					<span>24</span>members
				</div>
			</div>
		</div>
	</div>
</div>