//Colours should always only appear in this colours.scss
$white: #fff;
$black: #000;
$black--text: #333333;

$grey--light: #cccccc;
$grey--dark: #8d8d8d;
$grey--light2: #d1d1d1;
$grey--light3: #e5e5e5;

$red--element: #f38181;

$green--light: #95e1d3;

$yellow: #fce38a;
$orange: #fbd489;


$color-bodyTextTitle: $black;
$color-bodyText: $grey--dark;

$color-primary: $green--light;
$color-secondary: $orange;

$color-bodyText: $white;